// Variables

// Colors
$textColor: white;
$box-color: #131313;
$rating-color: #021300;
$gradient-color: #063300;
$logo-color: #cdffdb;
$unfocused-color: #ffffff88;
$transparent: #00000000;

// Breakpoints
$tablet: em(600);
$desktop: em(820);
$desktopWide: em(1000);